h1 {
  color: Aquamarine;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

li {
  color: LimeGreen;

}

#url {
  color: Blue;
}

#top_point {
  color: Coral;
}

#inside {
  color: Black;
}
